

.navh1 {
    color: #f2d974;
    size: 16px;
}

.branch {
    display: flex;
    flex-direction: row;
}

.image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
figcaption{
    padding-left: 25px;
}
a, a:link, a:visited{
    color: #f2d974;
    text-align: center;
    text-decoration: none;
    font-size: larger;
}


@media screen and (max-width: 500px) {
    .branch {
        flex-direction: column;
    }
}